<header
  class="d-flex flex-wrap align-items-center justify-content-end py-3 border-bottom"
>
      <use xlink:href="#bootstrap"></use>
    </svg>
  </a>

  <!-- Search -->
  <form class="me-3" role="search">
    <input
      type="search"
      class="form-control"
      placeholder="search..."
      aria-label="search"
    />
  </form>

  <!-- Login / Signup -->
  <div class="text-end">
    <button type="button" class="btn btn-outline-primary me-2">Login</button>
    <button type="button" class="btn btn-primary">Sign-up</button>
  </div>
</header>